{{ define "main" }}


  <div class="container project-article-wrap">
    <div class="row d-flex justify-content-center pb-0">
      <div class="col-12 col-lg-10 col-xl-8">
        <h1 class="display-1 fw-bold">
          Mental Talk <br>
        </h1>

        <div class="lead border-top pt-5 mt-5" data-aos="fade-up">
          <h2 class="h3 ">Project overview</h2>
          A mental health support application that offers users a safe space for medical wellness and connects them with therapists through a user-friendly interface.

        </div>


        <div class=" border-top pt-5 mt-5" data-aos="fade-up">
          <h2 class="h3 ">Persona</h2>

          <div class="row align-items-center">

            <div class="col-12 col-lg-5">

              <img class="img-fluid rounded-5 shadow" src="{{ relLangURL "img/project/p2_1.png" }}"  alt="Persona" loading="lazy" data-aos="zoom-in-up">
              <div class="h5  fw-lighter text-center mt-5">Jessica</div>

            </div>
            <div class="col-12 col-lg-7 rounded-5 py-5" data-aos="fade">
              <span class="h5  fw-lighter">SCENARIO:</span>
              <p class="display-2">
                Jessica is a university student struggling with academic pressure and social anxiety. She often feels isolated and overwhelmed by deadlines. One night, she discovers the Mental Talk app and decides to explore its features. Through the AI-powered journaling tool, she starts expressing her emotions privately, helping her gain clarity on her stressors. She also reads others’ shared experiences in the anonymous forum, realizing she is not alone. Encouraged by the supportive environment, she eventually books a session with a professional counselor, taking her first step toward better mental well-being.
              </p>

              <div class="col-12 py-vh-2">
              </div>
            </div>
          </div>
        </div>



        <div class=" border-top pt-5 mt-5" data-aos="fade-up">
          <h2 class="h3 ">Key features</h2>
          <div class="mb-5">Mental Talk combines several key features to create a holistic mental health support system:</div>

          <ul>
            <li><span class="distinguish-text1">Forum</span>: Users can share their experiences and support one another in a safe and open environment.</li>
            <li><span class="distinguish-text1">Online Consultations</span>: Users can easily book consultations with licensed therapists, ensuring access to professional help when needed.</li>
            <li><span class="distinguish-text1">Home Page</span>: The home page displays upcoming appointment times and details about the assigned therapist, keeping users informed and organized.</li>
            <li><span class="distinguish-text1">Consultation Page</span>: Users can browse different therapists’ availability, specialties, and professional backgrounds to choose the right fit for their needs.</li>
            <li><span class="distinguish-text1">Resource Page</span>: This section offers a variety of educational articles on mental health topics, helping users gain knowledge and insights.</li>
            <li><span class="distinguish-text1">Profile Page</span>: Users can view their services, booked doctors, appointments, and available coupons, providing a personalized experience and easy access to their information.</li>
          </ul>
        </div>


        <div class=" border-top  pt-5 mt-5" data-aos="fade-up">
          <h2 class="h3 ">Wireframe Sketches</h2>

          <div class="mt-5 ">
            {{ partial "func/image" (dict "Src" "/img/project/p2_2.png" "Alt" "Wireframe Sketches"  ) }}
          </div>
        </div>



        <div class=" border-top pt-5 mt-5" data-aos="fade-up">
          <h2 class="h3 ">Landing Page</h2>

          <div class="row align-items-center">

            <div class="col-12 col-lg-5">

              <img class="img-fluid rounded-5 shadow" src="{{ relLangURL "img/project/p2_3.png" }}"  alt="Landing Page" loading="lazy" data-aos="zoom-in-up">
              <div class="h5  fw-lighter text-center mt-5">Landing page</div>

            </div>
            <div class="col-12 col-lg-7 rounded-5 py-5" data-aos="fade">
              <span class="h5  fw-lighter">Design decisions:</span>
              <p class="display-2">
                We included a short and simple headline, "Your safe space for medical wellness and support," so new users can quickly understand the app's purpose. This clear message reassures users that Mental Talk is dedicated to providing a secure and supportive environment for their mental health needs.
              </p>

              <div class="col-12 py-vh-2">
              </div>
            </div>
          </div>
        </div>



        <div class=" border-top  pt-5 mt-5" data-aos="fade-up">
          <h2 class="h3 ">Prototype</h2>

          <div class="mt-5 ">
            {{ partial "func/image" (dict "Src" "/img/project/p2_4.png" "Alt" "Prototype"  ) }}
          </div>
          <div class="mt-5 ">
            {{ partial "func/image" (dict "Src" "/img/project/p2_5.png" "Alt" "Prototype"  ) }}
          </div>
        </div>


        <div class=" border-top  pt-5 mt-5" data-aos="fade-up">
          <h2 class="h3 ">Video</h2>

          <div class="mt-5 ">
            {{ partial "func/video.html" (dict "Src" "img/project/p2_prototype.mp4") }}
          </div>
        </div>








      </div>
    </div>
  </div>




{{ end }}
