<!doctype html>

<html class="h-100" lang="en-US">
  <head>
    <!-- head (don't cache it) -->
    {{ partial "essentials/head.html" . }}


    <!-- style (always cache it) -->
    {{ partialCached "essentials/style.html" . }}

  </head>

  <body>



    <!-- header (don't cache it) -->
    {{ partial "essentials/header.html" . }}



    <main>
      {{ block "main" . }}{{ end }}
    </main>

    <!-- footer -->
    {{ partial "essentials/footer.html" . }}


    <!-- script (always cache it) -->
    {{ partialCached "essentials/script.html" . }}
  </body>
</html>
