{{ define "main" }}
  <div class="w-100 overflow-hidden position-relative bg-black text-white" data-aos="fade">
    <div class="position-absolute w-100 h-100 bg-black opacity-75 top-0 start-0"></div>
    <div class="container py-vh-4 position-relative mt-5 px-vw-5  ">
      <div class="row d-flex align-items-center  py-vh-5">
        <div class="  col-lg-7">
          <span class="h5 text-secondary fw-lighter">Hi there! I'm</span>
          <h1 class="display-2 mt-3 mb-3 lh-1">SOPHIA WANG</h1>

          <div class="col-12  col-lg-12">

            <p class="lead text-secondary">
              Technology & Business Integration Specialist  <br>  FinTech Developer <br> Business Analyst  <br>  UX/UI Designer  <br>  M.S. Computer Science & Database Technology  <br>  Finance & Fine Art Background
            </p>
            <a href="{{ relLangURL "file/Sophia_Resume.pdf" }}" aria-label="Download my cv" class="btn btn-outline-light">
              <small>View My CV</small>
            </a>
          </div>
        </div>


        <div class="  col-lg-4  ">
          <img src="img/pt2.png" width="1116" height="1578" alt="abstract image" class="img-fluid position-relative rounded-5 shadow" data-aos="fade-up" data-aos-duration="2000">
        </div>


      </div>
    </div>

  </div>

  <div class="w-100 position-relative bg-black text-white bg-cover d-flex align-items-center">
    <div class="container-fluid px-vw-5">
      <div class="position-absolute w-100 h-50 bg-dark bottom-0 start-0"></div>
      <div class="row d-flex align-items-center position-relative justify-content-center px-0 g-5">

        <!--   <div class="col-12   col-lg-5">
          <img src="img/pt2.png" width="1116" height="1578" alt="abstract image" class="img-fluid position-relative rounded-5 shadow" data-aos="fade-up" data-aos-duration="2000">
        </div> -->
        <!--  <div class="col-12 col-md-6 col-lg-3">
          <img src="img/webp/abstract9.webp" width="1116" height="848" alt="abstract image" class="img-fluid position-relative rounded-5 shadow" data-aos="fade-up" data-aos-duration="3000">
        </div> -->
      </div>
    </div>
  </div>


  <div class="bg-black py-vh-3">
    <div class="container bg-black px-vw-5 py-vh-3 rounded-5 shadow">
      <div class="p-5 pt-0 mt-5" data-aos="fade">
        <span class="h5 text-secondary fw-lighter">Portfolio</span>
        <h2 class="display-4"> The Selected Projects Of My Previous Work</h2>
      </div>

      <div class="row gx-5">
        <div class="col-12 col-md-6">
          <div class="card bg-transparent mb-5" data-aos="zoom-in-up">
            <div class="bg-dark shadow rounded-5 p-0">
              <img src="img/abstract3.jpg" width="582" height="327" alt="abstract image" class="img-fluid rounded-5 no-bottom-radius" loading="lazy">
              <div class="p-5">
                <h2 class="fw-lighter">Swallowtail Butterfly</h2>
                <p class="pb-4 text-secondary">
                  How would you feel if you were a butterfly seeking to live in a desperate world of chaos? Inspired by the Japanese film 'Swallowtail Butterfly' and the game Cyberpunk 2077, I created a VR game that requires users to survive
                  through three artificial crises. It allows people to think about what they truly need in a dissipated world.
                </p>
                </br>
                <a href="sw.html" class="link-fancy link-fancy-light">Read More</a>
              </div>
            </div>
          </div>

          <div class="card bg-transparent mb-5" data-aos="zoom-in-up">
            <div class="bg-dark shadow rounded-5 p-0">
              <img src="img/abstract2.jpg" width="582" height="442" alt="abstract image" class="img-fluid rounded-5 no-bottom-radius" loading="lazy">
              <div class="p-5">
                <h2 class="fw-lighter">Spoteat</h2>
                <p class="pb-4 text-secondary">
                  With special restrictions, people have to respect safe distances and avoid gatherings. It becomes difficult when people have to buy and eat food. This app is designed to help people order food safely and find a place to sit and
                  have food while on social distancing.</p>
                <a href="foodie.html" class="link-fancy link-fancy-light">Read more</a>
              </div>
            </div>
          </div>

          <div class="card bg-transparent" data-aos="zoom-in-up">
            <div class="bg-dark shadow rounded-5 p-0">
              <img src="img/ava_ab.png" width="582" height="442" alt="abstract image" class="img-fluid rounded-5 no-bottom-radius" loading="lazy">
              <div class="p-5">
                <h2 class="fw-lighter">LiNFT</h2>
                <p class="pb-4 text-secondary">
                  LiNFT is a diverse and inclusive Web3.0 social networking platform. It embraces commonality while preserves differences among diverse social groups. It’s accessible by artists and creators in the world. It allows communication and
                  trading among artists and players. </p>
                <a href="ava.html" class="link-fancy link-fancy-light">Read more</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6">

          <div class="card bg-transparent mb-5 mt-5" data-aos="zoom-in-up">
            <div class="bg-dark shadow rounded-5 p-0">
              <img src="img/abstract17.jpg" width="582" height="390" alt="abstract image" class="img-fluid rounded-5 no-bottom-radius" loading="lazy">
              <div class="p-5">
                <h2 class="fw-lighter">Susu & Snow</h2>
                <p class="pb-4 text-secondary">
                  It's an AR-based app with an interactive picture book to enhance the child's awareness of privacy. It allows users to learn privacy skills while reading a storytelling picture book and exploring more details with AR animations.
                </p>
                <a href="su.html" class="link-fancy link-fancy-light">Read more</a>
              </div>
            </div>
          </div>

          <div class="card bg-transparent" data-aos="zoom-in-up">
            <div class="bg-dark shadow rounded-5 p-0">
              <img src="img/abstract4.jpg" width="582" height="327" alt="abstract image" class="img-fluid rounded-5 no-bottom-radius" loading="lazy">
              <div class="p-5">
                <h2 class="fw-lighter">Lutolence</h2>
                <p class="pb-4 text-secondary">
                  Lutolence is a sound visualization project that allows users to listen to a demo depicting domestic violence and play with the sound by moving the cursor. It encourages the perpetrators and the survivors of domestic violence to
                  think about how violence can change the color of a face.</p>

                <a href="lut.html" class="link-fancy link-fancy-light">Read more</a>
              </div>
            </div>
          </div>


        </div>
      </div>

    </div>

  </div>
{{ end }}
