{{ define "main" }}

  {{ $siteScope := .Site }}

  {{/*cv intro*/}}
  <div class="w-100 overflow-hidden position-relative bg-black text-white" data-aos="fade">
    <div class="position-absolute w-100 h-100 bg-black opacity-75 top-0 start-0"></div>
    <div class="container position-relative mt-5 px-vw-5  ">
      <div class="row d-flex align-items-center  ">
        <div class="  col-lg-7">
          <span class="h5 text-secondary fw-lighter">Hi there! I'm</span>
          <h1 class="display-2 mt-3 mb-3 lh-1">SOPHIA WANG</h1>

          <div class="col-12  col-lg-12">

            <p class="lead text-secondary">
              Technology & Business Integration Specialist  <br>  FinTech Developer <br> Business Analyst  <br>  UX/UI Designer  <br>  M.S. Computer Science & Database Technology  <br>  Finance & Fine Art Background
            </p>
            <a href="{{ relLangURL "file/Sophia_Resume.pdf" }}" aria-label="Download my cv" class="btn btn-outline-light">
              <small>View My CV</small>
            </a>
          </div>
        </div>


        <div class="  col-lg-4  ">
          <img src="img/pt2.png" width="1116" height="1578" alt="abstract image" class="img-fluid position-relative rounded-5 shadow" data-aos="fade-up" data-aos-duration="2000">
        </div>


      </div>
    </div>

  </div>




  {{/*work list*/}}
  <div class="bg-black py-vh-3">
    <div class="container bg-black px-vw-5 py-vh-3 rounded-5 shadow">
      <div class="p-5 pt-0 mt-5" data-aos="fade">
        <span class="h5 text-secondary fw-lighter">Portfolio</span>
        <h2 class="display-4"> The Selected Projects Of My Previous Work</h2>
      </div>

      <div class="row gx-5">


        {{ range .Params.feature_projects }}

          {{ with $siteScope.GetPage .path }}
            {{ $p_title := .Params.title }}
            {{ $p_image := .Params.feature_img }}
            {{ $short_desc := .Params.short_desc }}


            <div class="col-12 col-md-6">
              <div class="card bg-transparent mb-5" data-aos="zoom-in-up">
                <div class="bg-dark shadow rounded-5 p-0">
                  <div class="work-img-wrap">
                    <img src="{{ relLangURL $p_image }}"  class="img-fluid rounded-5 no-bottom-radius" loading="lazy">
                  </div>
                  <div class="p-5">
                    <h2 class="fw-lighter">{{ $p_title }}</h2>
                    <p class="pb-4 text-secondary">
                      {{ $short_desc }}
                    </p>
                    </br>
                    {{/*<a href="{{ .RelPermalink }}" class="link-fancy link-fancy-light">{{ .LinkTitle }}</a>*/}}
                    <a href="{{ .RelPermalink }}" class="link-fancy link-fancy-light">Read More</a>
                  </div>
                </div>
              </div>
            </div>

          {{ end }}
        {{ end }}

      </div>

    </div>

  </div>
{{ end }}
